.dishName{
    color:rgb(0, 0, 0);
    font-size: large;
    font-weight: bold;
}
.navbar-dark{
    background-color: rgb(69, 4, 107);
}
.footer{
    background: rgba(95, 236, 212, 0.315);
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}
address{
    font-style: italic;
    font-size: 80%;
    color: rgba(0, 0, 0, 0.705);
}
.row-header{
    margin:0px auto;
}

.row-content{
    margin: 0px auto;
    padding: 50px 0px;
    border-bottom: 1px ridge ;
    }
.jumbotron{
    margin: 0px auto;
    padding: 60px 20px;
    background: rgba(107, 15, 194, 0.753);
    color: floralwhite;
}
.navbar-text{
    cursor: pointer;
}
.btn-primary{
    border-radius: 5px;
    border-style: solid;
}

.secondary{
    border: solid 2px rgb(92, 92, 92);
    color: rgb(92, 92, 92);
    font-weight: bold;
}